/* colors */
$SiteHeader_backgroundColor: #09154d;
$a_color: #f9636b;
$buttonSignIn_backgroundColor: #527ceb;
$paragraph_color: #03a7d3e6;
$buttonTry_backgroundColor: #d5416d;
$buttonExplore_backgroundColor: #1172aa;
/* /colors */
