/* colors */
$SiteHeaderProjectPrice_backgroundColor: #09154d;
$a_color: #f9636b;
$buttonSignIn_backgroundColor: #527ceb;
$paragraph_color: #f4f4f4;
$buttonTryServices_backgroundColor: #d5416d;
$buttonExplore_backgroundColor: #1172aa;
$black_color: #000000;
$white_color: #ffffff;
/* /colors */
